body {
    background-image: url('../images/grassyField.png');
}

h1 {
    text-align: center;
    background-color: aquamarine;
}

h2 {
    text-align: center;
    background-color: aquamarine;
}

#board {
    display: grid;
    grid-auto-columns: 1%;
    grid-auto-rows: 1%;
    height: 500px;
}

#row1 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 25;
}
#row2 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 30;
}
#row3 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 35;
}
#row4 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 40;
}
#row5 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 45;
}
#row6 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 50;
}

#row7 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 55;
}

#row8 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 60;
}

#row9 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 65;
}

#row10 {
    display: inline-flex;
    grid-column-start: 37;
    grid-row-start: 70;
}
