
h1 {
    grid-column-start: 44;
    text-align: center;
};

#board {
    display: grid;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
}

#row1 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row2 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row3 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row4 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row5 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row6 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row7 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row8 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row9 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row10 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#sq010 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq020 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq030 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq040 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq050 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq060 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq070 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq080 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq090 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq100 {
    grid-column-start: 10;
    grid-row-start: 1;
}

