
h1 {
    grid-column-start: 44;
    text-align: center;
};

#board {
    display: grid;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
}

#row1 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row2 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row3 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row4 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row5 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}
#row6 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row7 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row8 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row9 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#row10 {
    display: grid;
    justify-content: center;
    grid-auto-columns: 5%;
    grid-auto-rows: 5%;
    gap: 0px 0px;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
}

#sq001 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq011 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq021 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq031 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq041 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq051 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq061 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq071 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq081 {
    grid-column-start: 10;
    grid-row-start: 1;
}

#sq091 {
    grid-column-start: 10;
    grid-row-start: 1;
}

